<%- include('fragments/head.ejs')%>
</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main>
    <h1>Erreur 404</h1>
    <p>La ressource demandée n'existe pas</p>
    <a href="/">Retourner à l'accueil</a>
</main>

<%- include('fragments/foot.ejs')%>