<%- include('fragments/head.ejs')%>
<link rel="stylesheet" href="/css/inscription_connexion.css">
<script src="afficherMDP.js"></script>

</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main>
    <div class="container" id="container">
   <div class="form_container">
       <div class="form_connexion">
           <form action="/Auth" method="POST">
               <h1>Connexion</h1>
               <div class="info-bulle">
                   <label for="Mail">Mail
                       <input class="inputForm" type="email" name="Mail" id="Mail" required>
                   </label>
               </div>

               <div class="champs-password">
                   <div class="info-bulle">
                       <label for='mdp'>Mot de passe <br>
                           <input id='mdp' type='password' name ='password' class='inputForm' required>
                        </label>
                   </div>

                   <div class="password-show" onclick="showPassword(this)" onkeydown="showPassword(this)" tabindex="0">
                       <img src="img/visible.png" alt="afficher le mot de passe">
                   </div>
                   <div class="password-hide" onclick="hidePassword(this)" onkeydown="hidePassword(this)" tabindex="0">
                       <img src="img/hidden.png" alt="cacher le mot de passe">
                   </div>
               </div>
               
                <div style="display: flex;">
                    <input class="button" type="submit" value="Connexion" id="submit">
                    <a class="button" style="margin-left:10px ;" href="/Inscription">Inscription</a>
                </div>
            </form>
       </div>
   </div>
</div>
</main>
<%- include('fragments/foot.ejs')%>

