@import url('variables_couleurs.css');

html, body {
  height: 100%;
  margin: 0;
}

.Ticket{
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 20px;
    width: 250px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
}

.Ticket_Ouvert{
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.Ticket_Prépa{
    background-color: lightgray;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.Ticket_Prépa:hover{
    background-color: lightsalmon;
}

.tableau_bord{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.Espace_table {
    height: 40px;
}

th{
    font-size:larger;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Erreur{
    color: red;
}

.Reussi{
    color: green;
}

.main_center {
  display: grid;
  flex: 1;
  justify-content: center;
}

footer {
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--col-light-gray);
    font-family: Poppins, sans-serif;
    color: var(--col-dark-gray);
}


.paralix {
    color: var(--col-light-orange);
}


p {
    font-weight: 500;
    font-size: clamp(16px, 1vw + .1rem, 25px);
}

.titre_page{
    font-size: 48px;
}

.subtitle{
    text-align: center;
}

.Profil a{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px #1c1c1c;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.Profil a{
    background: #ff4e4e;
    color: #1c1c1c;
}


#return a{
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 60px;
}

#text_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--col-dark-gray);
    text-align: center;
}

#title{
    font-size: clamp(3rem, 5vw + .5rem, 6rem);
    color: var(--col-dark-gray);
}
h3 {
    font-size: clamp(15px, 2vw + .1rem, 30px);
}

#section_presentation {
    margin-top: 175px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 600px;
    text-shadow: 0px 1px 150px rgba(77, 70, 65, 0.67);
}

#button_hero{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;

    background: var(--col-white);
    height: auto;
    min-width: 90px;
    padding: 10px 10px;
    margin: 50px 20px;
    border: solid 1px var(--col-dark-gray);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--col-white);
    background: var(--col-gradient-orange);
    box-shadow: 0 7px 0 0 var(--col-dark-gray);

}
a, button {
    text-shadow: 0px 1px 15px var(--col-pink);
}

#button_hero:hover, #button_hero:focus {
    background: var(--col-black);
    color: var(--col-white);
    box-shadow: 0 4px 0 0 var(--col-dark-gray);
    transform: translate(0,3px);
}

#button_hero:active {
    box-shadow: 0 0 0 var(--col-black);
    transform: translate(0,6px);
    transition-duration: 100ms;
    top: 4px;
}

#presentation {

    margin-top: 100px;
    width: 90%;
    height: 600px;
    background: var(--col-white);
    border-radius: 20px;
    border: 1px solid var(--col-dark-gray);
}

/*video*/
.conteneur_video{
    display: flex;
    flex-direction: column;
}


.video-presentation {
    max-width: 1080px;
}

.video-presentation iframe {
    width: 720px;
    height: 405px; /* rapport  */
    margin-top: 25px;
    box-shadow: 0 0 5px 5px var(--col-light-orange);
}

.video-presentation video {
    width: 720px;
    height: 405px; /* rapport  */
    margin-top: 25px;
    box-shadow: 0 0 5px 5px var(--col-light-orange);
}

footer {
    height: 200px;
    margin-top: 80px;
    width: 100%;
    background: var(--col-dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a>img{
    width: 300px;
    margin: 0 10px;
}



/* ======== CHAMPS INPUT PASSWORD ======= */

.champs-password{
    position: relative;
}

.champs-password .password-show, .champs-password .password-hide{
    position: absolute;
    top: 36px;
    right: 15px;
}


.champs-password .password-show svg, .champs-password .password-hide svg {
    width: 35px;
    height: 30px;
    color: #1c1c1c;
}

.champs-password .password-hide{
    display: none;
}


.infosChamps{
    font-weight: 500;
    float: right;
    text-decoration: underline;
}

#conteneur_infoChamps {
    position: relative;
    background: #f8fffa;
    border: 1px solid black;
    color: #232323;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 550;
    display: none;
    animation: fadeIn 0.5s ease;
    padding-left: 30px;
}

.champInvalide{
    border: 2px solid #ff3c3c;
    background: #ffcaca;
}
.champValide{
    border: 2px solid #00b01d;
    background: #d1ffd8;
}


.info-bulle {
    position: relative;
    display: block;
    cursor: help;
}

.info-bulle .text-info-bulle {
    visibility: hidden;
    width: 250px;
    background-color: var(--col-black);
    color: var(--col-white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-bulle:hover .text-info-bulle/*,
.info-bulle:focus-within .text-info-bulle*/ {

    visibility: visible;
    opacity: 1;
}

.text-info-bulle span{
    color: var(--col-light-orange);
}
